= simple_form_for item, url: items_manage_index_path do |f|
  = f.input :name, class: 'form-control'
  = f.input :count, as: :integer, selected: 1, class: 'form-control'
  = f.input :image, as: :file, class: 'form-control'
  = f.button :submit, class: 'btn btn-primary'
