%h2  All products!
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Count
      %th Image
      %th Operation
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.count
        %td= image_tag item.image.url(:thumb)
        - if item.enabled
          %td= link_to t('item.attributes.disable'), items_change_status_path(item.id),method: :put, class: 'btn btn-primary'
        - else
          %td= link_to t('item.attributes.enable'), items_change_status_path(item.id), method: :put,class: 'btn btn-primary'
        %td= link_to t('item.attributes.destroy'), items_manage_path(item.id),method: :delete, class: 'btn btn-primary'

= link_to 'New Item', new_items_manage_path, class: 'btn btn-primary'
