%tr
  %td= resource.id
  %td= resource.first_name
  %td= resource.last_name
  %td= resource.email
  - if resource.invitation_accepted_at.nil?
    %td= link_to t('users.attributes.not_ivited'),'#', method: :put, class: 'btn btn-primary disabled'
  - else
    - if resource.enabled
      %td= link_to t('users.attributes.disable'), users_change_status_path(resource.id),method: :put, class: 'btn btn-primary'
    - else
      %td= link_to t('users.attributes.enable'), users_change_status_path(resource.id), method: :put,class: 'btn btn-primary'
  %td= link_to t('users.attributes.destroy'), users_manage_path(resource.id),method: :delete, class: 'btn btn-primary'
