%h2=t('users.manage.manage_title')


%table.table.table-striped
  %thead
    %tr
      %th= t('users.attributes.id')
      %th= t('users.attributes.first_name')
      %th= t('users.attributes.last_name')
      %th= t('users.attributes.email')
      %th= t('users.attributes.user_status')

  %tbody
    = render partial: 'index_item', collection: @users, as: :resource

%br    
= link_to t('users.manage.invite_button'), new_user_invitation_path, class: 'btn btn-primary'
