.row
  .col-sm-4.col-sm-offset-4
    %h2= t 'devise.invitations.edit.header'
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
      = devise_error_messages!
      .form-group
      = f.hidden_field :invitation_token
      - if f.object.class.require_password_on_accepting
        %p
          = f.label :first_name
          %br/
          = f.text_field :first_name, class: 'form-control'
        %p
          = f.label :last_name
          %br/
          = f.text_field :last_name, class: 'form-control'
        %p
          = f.label :password
          %br/
          = f.password_field :password, class: 'form-control'
        %p
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, class: 'form-control'
      %p= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-danger"
