.row
  .col-sm-4.col-sm-offset-4
    %h2.text-center= t "devise.invitations.new.header"
    %hr/
    = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
      = devise_error_messages!
      .form-group
      - resource.class.invite_key_fields.each do |field|
        %p
          = f.label field
          %br/
          = f.text_field field, class: 'form-control'
      %p= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary btn-block btn-lg"
