!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('layouts.title')
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        %a.navbar-brand{:href => users_manage_index_path} #{t('layouts.title')}
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              .btn
                #{t('layouts.logged')+current_user.email+'  '}#{link_to( t('user_logout'), destroy_user_session_path, :method => :delete, class:'btn btn-default')}
              .btn
                - if current_user.is_admin?
                  =link_to(t('layouts.admin_button'),users_manage_index_path, class:'btn btn-default')
          - else
            %li
              .btn #{t('layouts.not_logged')} #{link_to( t('layouts.login_button'), new_user_session_path, class:'btn btn-default')}
          %li
    .container-fluid
      = yield
